<h1>Suggest New Books</h1>

<div class = "form-group">
<% if current_user.host? %>
  <form method="GET" action="/books/select">
  <input type="text" name="Title" placeholder="Title">
  <input type="text" name="Author" placehodler="Author">
  <button>Submit</button>
  </form>
<% end %>
</div>

<%= link_to 'Back', books_path %>
