div.navbar.header {
  margin-bottom: 0px;
}

#brand.navbar-brand {
  font-family: pacifico, cursive;
  font-size: 40px;
  line-height: 48px;
  color: #bf3a00;
  padding: 10px;
}

ul.nav.navbar-nav.navbar-right {
  color: #777777;
  padding: 15px;
}